h1, h3 {
  color: purple;
  text-align: center;
}

body {
   color: pink;
   font-family: Arial;
   margin: 0px;
}

h1 {
   font-size: 3.5em;
   margin-top: 90px;
 }

 h2 {
   margin-top: 80px;
   margin-bottom: 80px;
   color: purple;
   margin-left: 50px;
   margin-right: 50px;
   font-family: Arial;
 }

 h3 {
   margin-top: 50px;
 }

.contrast {background-color: pink;
  display: flex;
  justify-content: flex;
  align-items: center;
  flex-direction: column;
  height: 40vh;
  width: 100vw;
}

.new {background-color: pink;
  display: flex;
  justify-content: center;
  align-items: right;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  font-size: 1.5em;
  margin-top: 90px;
  color: #404040;
  font-family: Arial;
}

.about {background-color: #ff8799;
  display: flex;
  justify-content: center;
  align-items: right;
  flex-direction: column;
  border: 1px #404040 solid;
  height: 100vh;
  width: 100vw;
}



.container {
  margin: 0;
  padding: 0;
}

.navbar {
  height: 5vw;
  background-color: purple;
  color: #ffffff !important;
}

.about {
  justify-content: center;
  display; flex;
  align-items: center;
}

.navleft {
  float:left; width: 50%;
  }

.navright {
  float:center;
  width: 50%;
  }

.navright li a {
  padding-left: 0 !important;
  padding-right: 0 !important;
  color: #ffffff !important;
}

.navcenter {
  align-items: center;
  background-color: pink;
  border-left: 50px;
  border-top: 20px;
  border-bottom: 20px;
}

.text {
  background-color: white;
  align-items: center;
  border-top: 50px;
  border-bottom: 50px;
}

.carouselExampleIndicators {
  align-items: center;
  width: 100vh;
  height: 300px;
}

.about_us {
  align-items: center;
  border-bottom: 100px:
}

.wrapper {
    text-align: center;
}


.modal {
  color: purple;
  align-items: center;
  font-size: 16px;
  padding: 14px 40px;
  border-radius: 8px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
